.benefits {

    // .benefits__main

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 200px 0 80px 0;
    }

<<<<<<< HEAD
    // .benefits__main-block

    &__main-block {
    }

=======
>>>>>>> 26b99d8d44e3c45521417cbc3300720c8d7e6acb
    // .benefits__text-block

    &__text-block {
        max-width: 72%;
    }

    // .benefits__title

    &__title {
<<<<<<< HEAD
        line-height: 1.23;
        margin: 35px 0 16px 0;
=======
        line-height: 54px;
        margin: 0 0 16px 0;
>>>>>>> 26b99d8d44e3c45521417cbc3300720c8d7e6acb
    }

    // .benefits__subtitle

    &__subtitle {
        margin: 0 0 33px 0;
    }

    // .benefits__items

    &__items {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 40% 40%;
        gap: 48px;
    }

    // .benefits__item

    &__item {
        max-width: 250px;
<<<<<<< HEAD

=======
>>>>>>> 26b99d8d44e3c45521417cbc3300720c8d7e6acb
    }

    // .benefits__picture

    &__picture {
        margin: 0 0 24px 0;
    }

    // .benefits__feature-title

    &__feature-title {
<<<<<<< HEAD
        font-size: rem(22);
        line-height: 1.27;
=======
        font-size: 22px;
        line-height: 28px;
>>>>>>> 26b99d8d44e3c45521417cbc3300720c8d7e6acb
        margin: 0 0 14px 0;
    }

    // .benefits__feature-suptitle

    &__feature-subtitle {
<<<<<<< HEAD
        font-size: rem(14);
        line-height: 2.14;
=======
        font-size: 14px;
        line-height: 30px;
>>>>>>> 26b99d8d44e3c45521417cbc3300720c8d7e6acb
        color: #656565;
    }

    // .benefits__image

    &__image {
<<<<<<< HEAD
        width: 472px;
        height: 684px;
        background-image: url("../images/dest/pictures/Framepicture2.jpg");
=======
>>>>>>> 26b99d8d44e3c45521417cbc3300720c8d7e6acb
        position: relative;
        &::after {
            position: absolute;
            content: "";
            top: 10%;
            left: -25%;
            background-image: url("../images/dest/pictures/Framebrowse2.png");
            background-repeat: no-repeat;
            width: 282px;
            height: 570px;
        }
    }

    // .benefits__buttons

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 27px;
        padding: 0 0 200px 0;
    }

    // .benefits__button

    &__button { 
    }
}