.features {

    // .features__item

        &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    // .features__title

        &__title {
                font-size: rem(28);
                line-height: 1.43;
                text-align: center;
                color: #121212;
        }

    // .features__subtitle

        &__subtitle {
                font-size: rem(18);
                line-height: 1.67;
                text-align: center;
                color: #656565;
        }
}