.text-block {

    // .text-block__suptitle

    &__suptitle {
        line-height: 1.11;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        color: $colorMain;
    }

    // .text-block__title

    &__title {
        font-weight: 700;
        font-size: rem(44);
        line-height: 1.64;

        &_big {
            font-size: rem(62);
            line-height: 1.17;
        }
        // .text-block__title_white

        &_white {
            font-size: rem(56);
            line-height: 1.18;
            color: #FFFFFF;
        }
    }

    // .text-block__subtitle

    &__subtitle {
        font-size: rem(12);
        line-height: 2.5;
        color: #656565;


        // .text-block__subtitle_white

        &_white {
            color: #FFFFFF;
        }
    }
}